<div>
<h2>User info</h2>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>
    <tr>
      <th>name</th>
    <th><%= @user.name %></th>
    </tr>
  </h3>
  <% if @user == current_user %>
  <p><%= link_to "プロフィール編集",edit_user_path %></p>
  <% end %>

</div>


<h1>New Book</h1>
<%= form_with model: @book do |f| %>
<h4>Title</h4>
<%= f.text_field :title %>

<h4>Opinion</h4>
<%= f.text_area :body %>

<%=f.submit'Create Book' %>
<% end %>

<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
     <%= image_tag book.get_image %>
  <% end %>
  <p>投稿ユーザー画像:<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Book:<%= book.title %></p>
  <p>Opinion:<%= book.opinion %></p>
  <p>ユーザーネーム:<%= book.user.name %></p>

</div>
<% end %>